1. Imagine you have a dataset where you have different Instagram features like u sername , Caption , Hashtag , Followers , Time_Since_posted , and likes , now your task is to predict the number of likes and Time Since posted and the rest of the features are your input features. Now you have to build a model which can predict the number of likes and Time Since posted. 
Dataset This is the Dataset You can use this dataset for this question.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
pd.read_csv(r"D:\archive\instagram_reach.csv")

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
...,...,...,...,...,...,...,...,...
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [3]:
data=pd.read_csv(r"D:\archive\instagram_reach.csv")

In [5]:
data.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [7]:
data.shape

(100, 8)

In [8]:
data.isna().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    object
 7   Likes              100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [10]:
data.nunique()

Unnamed: 0           27
S.No                 30
USERNAME             95
Caption              94
Followers            94
Hashtags             98
Time since posted    11
Likes                55
dtype: int64

In [11]:
data.describe()

       Unnamed: 0        S.No   Followers      Likes
count  100.000000  100.000000   100.00000  100.00000
mean     8.940000   16.240000   961.96000   46.48000
std      6.639064    7.384286  1014.62567   55.08698
min      0.000000    1.000000    11.00000    8.00000
25%      4.000000   10.750000   252.75000   19.00000
50%      8.000000   16.500000   612.00000   29.00000
75%     12.250000   22.250000  1197.00000   46.00000
max     26.000000   30.000000  4496.00000  349.00000

In [13]:
data.describe().T

            count    mean          std   min     25%    50%      75%     max
Unnamed: 0  100.0    8.94     6.639064   0.0    4.00    8.0    12.25    26.0
S.No        100.0   16.24     7.384286   1.0   10.75   16.5    22.25    30.0
Followers   100.0  961.96  1014.625670  11.0  252.75  612.0  1197.00  4496.0
Likes       100.0   46.48    55.086980   8.0   19.00   29.0    46.00   349.0

In [14]:
data.duplicated().sum()

0

In [15]:
data.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [16]:
data['Likes'].unique()

array([139,  23,  25,  49,  30,  18,  35,  86,  22,  31,  48,  80,  94,
        28,  53,  29,  46,  34, 198,  19,  20,  11,  10, 148,  43,  37,
        90,  14, 273,  13,  93,  24, 136,   8,  41,  81,  16,  51, 157,
        17,  65, 349,  21,  27,  40,  50, 119,  55,  12,  33,   9,  32,
        42, 222, 109], dtype=int64)

In [17]:
len(data['Likes'].unique())

55

In [18]:
data['Likes'].value_counts()

Likes
24     6
31     5
10     5
16     4
43     4
20     4
19     4
29     4
46     3
25     3
30     3
18     3
11     3
14     2
17     2
21     2
41     2
28     2
12     2
35     2
81     1
349    1
222    1
51     1
157    1
42     1
65     1
32     1
50     1
27     1
9      1
40     1
33     1
55     1
119    1
139    1
8      1
34     1
49     1
86     1
22     1
48     1
80     1
94     1
53     1
198    1
136    1
148    1
37     1
90     1
23     1
273    1
13     1
93     1
109    1
Name: count, dtype: int64

In [20]:
data.iloc[:,6]

0     11 hours
1      2 hours
2      2 hours
3      3 hours
4      3 hours
        ...
95     3 hours
96     3 hours
97     3 hours
98     3 hours
99     3 hours
Name: Time since posted, Length: 100, dtype: object

In [21]:
data.iloc[:,-1]

0     139
1      23
2      25
3      49
4      30
     ...
95     31
96     42
97     10
98    222
99    109
Name: Likes, Length: 100, dtype: int64

In [22]:
X=data.iloc[:,6]
y=data.iloc[:,-1]

In [23]:
data.shape

(100, 8)

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=32)

In [26]:
X_train

84    3 hours
2     2 hours
66    2 hours
63    3 hours
36    2 hours
       ...
62    2 hours
54    7 hours
5     3 hours
43    2 hours
87    2 hours
Name: Time since posted, Length: 85, dtype: object

In [27]:
X_train.shape

(85,)

In [28]:
y_train.shape

(85,)

In [29]:
X_test.shape

(15,)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
model1=LinearRegression()

In [32]:
model1.fit(X_train,y_train)

ValueError: could not convert string to float: '3 hours'